<?php

/*
*	Informations about database
*/

define("SERVER", "server");
define("PORT", "port");
define("DBNAME", "dbname");
define("USERNAME", "username");
define("USERPASS", "userpass");
define("SALT", "salt");
define("FETCH_MODE", PDO::FETCH_CLASS|PDO::FETCH_PROPS_LATE);

/*
*	Configuration to manage dates
*/

define("FIRST_DAY_WEEK", "sunday");
define("DATE_FORMAT", "d/m/Y H:i");

/*
*	local database
*/

require_once($_SERVER['DOCUMENT_ROOT']."/project_cloud/core/objects/User.php");
require_once($_SERVER['DOCUMENT_ROOT']."/project_cloud/core/objects/Event.php");

$admin = new User("Root", "Admin", "admin", "admin", "admin@calendar.en");
$admin->setId(1);
$toto = new User("Rolo", "Toto", "toto", "admin", "toto.rolo@calendar.en");
$toto->setId(2);

$users = array($admin->getUsername() => $admin, $toto->getUsername() => $toto);

$events = array();

$is_local_db = false;

try
{	
	// Every warning are shown
	// $bdd = new PDO("mysql:dbname=".DBNAME.";host=".SERVER, USERNAME, USERPASS);

	// We hide all warning
	$bdd = @new PDO("mysql:dbname=".DBNAME.";host=".SERVER, USERNAME, USERPASS);
}
catch(PDOException $e)
{
	echo "Error : Impossible to connect to the database...<br/>";
	$local_db = true;
}